
/* Definindo Fontes */

@font-face {
    font-family: "Unbounded";
    src: url(../fonts/Unbounded-VariableFont_wght.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Unbounded-VariableFont_wght.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Reset CSS */

*{
    margin: 0;
    padding: 0;
}

/* Estilo Desktop */

header img { 
    display: block;
    margin: 75px 0 0 360px ;
}


h1 span {
 color:#9747FF;
}

h1 {
 font-size: 64px;
 font-family: "Unbounded", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align: center;
 margin-top: 60px;
}

p {
    font-size: 24px;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 24px auto 40px;
    width: 792pt;

}

body {
    background-color: #FFFFFF;
    color: #0E1014;
    letter-spacing: normal;
}

a {
    color:#FFFFFF;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-decoration:none ;
    background-color:#9747FF;
    width: 340px ;
    height: 66px ;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color:#8233E8;
}

main section img {
    width: 792px ;
    height: 446px ;
    margin: 0 564px 87px;
}

/* Estilo Table */

@media ( max-width: 768px ) {  

header img { 
    display: block;
    margin: 65px 0 0 60px ;
}

h1{
width: 648px;
font-size: 64px;
margin: 72px 0 0 60px;

}

main section img {
    display: block;
    width: 659.5px ;
    height: 446px;
    margin: 40px 54.25px 49px ;
}

p{
    width: 648px;
    font-size: 20px;
    margin: 24px 60px 40px ;
    
}

a {
    margin: 0 214px 40px ;
    width: 340px;
    height: 66px;
}

/* ta funcionando, mas meu navegador vai me dizer que está tudo errado. Ele mente. */
/* tenho que fazer o Estilo Mobile agora, mas....mó chato */

}

@media (max-width: 375px ) {

    header img{
        display: block;
        margin: 32px 0 60px 16px;
        width: 209.29px;
        height: 34px;
    }

}


